.js-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.js-list li {
  width: 32%;
}
ul,
li {
  padding: 0;
  list-style: none;
}
.js-list li img {
  width: 100%;
}
body {
  padding: 20px;
}
